header {
    background-color: white;
    height: 70px;
    width: 100%;
    border-bottom: 1px solid #CCCCCC;
    display: flex;
    align-items: center;
}
div.logo_container {
    width: 140px;
    background-size: contain;
    background-image: url("../images/logo.png");
    background-repeat: no-repeat;
    background-position: center;
    height: 70px;
}
